<!doctype html>
<html lang="en" >
<head>
<meta charset="UTF-8"> 
<title>Cartoon Shader</title>
    <link type="text/css" rel="stylesheet" href="css/style.css">
    
    <script src="js/main.js" type="text/javascript"></script>  
    
     
</head>

<body>

    <h1>Hey</h1>    
   

</body>
</html>